h1 { 
    font-family: "Libre Baskerville", serif;
    color: whitesmoke;
    background-color: black;
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    padding-bottom: 0px;
    margin-bottom: 10px;
    margin-top: 10px;
}
img {
    border: 5px solid white;
    margin-left: 25%;
    background-color: black;
    width: 50%;
    margin-top: 20px;

}
p {color: white; text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 10px;
    font-family: "Libre Baskerville",serif;
    }
#box {border: 10px solid rgb(116, 10, 10); background-color: black;
        align-items: center;
    }
